.footer {
    color: #272727;
    background-color: #272727;
    padding: 20px;
    text-align: center;
    font-size: .7rem;
}

.privacy-link {
    color: #007bff;
    text-decoration: none;
}

.privacy-link:hover {
    text-decoration: underline;
}
.copyright {
    color: white;
}
