.footer {
    color: #ffffff;
    background-color: #272727;
    opacity: 1;
    padding: 20px;
    text-align: center;
    font-size: .7rem;
    position: relative;
    z-index: 10;
}

.privacy-link {
    color: #007bff;
    text-decoration: none;
}

.privacy-link:hover {
    text-decoration: underline;
}
.copyright {
    color: white;
}
