@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.genre-filter {
    position: relative;
    font-family: Arial, sans-serif;
}

.carousel-title {
    color: #ececec;
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    margin-left: 3%;
}

.genre-carousel {
    position: relative;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 1%;
}

/* react-slick overrides */
.slick-list {
    margin: 0 -10px;
    overflow: visible;
}

.slick-slide {
    display: inline-block;
    margin: 0 10px;
    overflow: visible;
}

/* Genre items */
.genre-item label {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 200px;

    font-size: 1rem;
    color: #d9d9d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-family: 'Exo 2', sans-serif;

    border-radius: 8px;
    transition:
        transform 0.2s ease,
        color 0.2s ease;
    transform-origin: center center;
}

.genre-item:hover label {
    transform: scale(1.05);
    color: #6fc276;
}

/* Filter button styles */
.btn-filter {
    background-color: rgba(217, 217, 217, 0.1) !important;
    color: #d9d9d9 !important;
    transition: color 0.2s ease;
}

.btn-filter:hover {
    color: #6fc276 !important;
}

.btn-check:checked + .btn-filter {
    background-color: rgba(0, 0, 0, 0.4) !important;
    font-weight: bold;
    border: 0;
    color: #6fc276 !important;
}

.btn-check:hover + .btn-filter {
    font-weight: bold;
    color: #d9d9d9 !important;
}

/* ------------------------------------
   Custom Netflix‑style arrows (SVG)
   ------------------------------------ */
.custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;

    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 10;
    overflow: visible;
}

.custom-next-arrow {
    right: 0px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.custom-next-arrow:hover {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

.custom-prev-arrow {
    left: 0;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
}

.custom-prev-arrow:hover {
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

.custom-arrow svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
